/* General */
@font-face {
    font-family: GothamBold;
    src: url(../fonts/GothamPro-Bold.woff);

body::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #ee4145; }

.jumbotron {
    background-color: white;
}

div.custom-text-line {
    width: 40px;
    height: 8px;
    background-color: #ee4145;
    -ms-transform: rotate(-25deg) translate(-25px, -7px);
    -webkit-transform: rotate(-25deg) translate(-25px, -7px);
    -moz-transform: rotate(-25deg) translate(-25px, -7px);
    transform: rotate(-25deg) translate(-25px, -7px);
}

.custom-botom-thick-border {
    border-bottom: 16px solid #ee4145;
}

i.custom-down-arrow {
    border: solid #ee4145;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
}

i.custom-right-arrow {
    border: solid #ee4145;
    border-width: 2px 2px 0 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
}

/* START Page Title */
.custom-page-title{
    overflow-wrap: break-word;
    font-size: 92px;
    color: black;
<<<<<<< HEAD
    margin-top: 50px;
=======
    line-height: 6vw;
>>>>>>> nejc
}

@media only screen and (max-width: 576px) {
    .custom-page-title {
        font-size: 60px;
        margin-top: 100px;
    }
}
/* END Page Title */

/* START Contact List */
.custom-contact-list li{
    font-size: 30px;
    font-family: GothamBold;
}

@media only screen and (max-width: 576px) {
    .custom-contact-list li{
        font-size: 25px;
    }
}

.custom-contact-list-padded li{
    padding-bottom: 30px;
}
/* END Contact List */

/* START Contact / let's talk form */
.custom-lets-talk {
    color: black;
}

.custom-contact-container label{
    font-style: italic;
}

textarea {resize: none;}
textarea::-webkit-scrollbar {width: 12px; }
textarea::-webkit-scrollbar-thumb {background-color: black;}

.form-control {background-image: linear-gradient(0deg,#000000 4px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 4px,transparent 0)}
.is-focused .form-control {background-image: linear-gradient(0deg,#000000 4px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 4px,transparent 0);}
.is-focused .bmd-label-floating {color: black;}

.custom-submit-button{
    font-size: 20px;
    padding: 2px;
    margin-bottom: 1rem;
}

.custom-submit-button h1{
    color: black;
}

.custom-submit-button:hover {
    background-color: white;
}

.custom-submit-button::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #ee4145;
    transition: all .3s;
}

.custom-submit-button::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #ee4145;
    transition: all .3s;
}

.custom-submit-button:hover::before {
    height: 8px;
}

.custom-submit-button:hover::after {
    height: 8px;
}
/* END Contact / let's talk form */
