div.custom-rotated-rows {
    overflow: hidden;
}

div.custom-rotated-row-clockwise {
    background-color: aqua;
    width:150%;
    height: 150%;
    transform:rotate(8deg) translateX(-5%);
}

div.custom-rotated-row-clockwise h1,
div.custom-rotated-row-clockwise p {
    transform:rotate(-8deg);
}

div.custom-rotated-row-counterclockwise {
    background-color: aqua;
    width:150%;
    height: 150%;
    transform:rotate(-10deg) translateX(-5%);
}

div.custom-rotated-row-counterclockwise h1, 
div.custom-rotated-row-counterclockwise p {
    transform:rotate(10deg);
}

#faceyoursister-row {
    background: url("images/faceyoursisterbg.png");
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: center center;
    /* padding-top: 250px;
    padding-bottom: 250px; */
}